body {
    background: url('27017.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

#container{
    display: flex;

}
.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
.cartao__conteudo{
    text-align: center;
    background-color:green ;

}
.cartao__conteudo h3 {
    background-color: tomato;

    border-radius:0.6rem;
    font-size: 1vw;
    
}

footer p {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}